<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/editProduct.css">
</head>
<body>
    <%- include('../partials/header'); %>
    <section class="main-container">
        <div class="create-product-container">
            <h2>Editar Producto</h2>
            <form action="/products/<%= product.id %>/edit" method="POST" enctype="multipart/form-data">

                <div class="input-group">
                    <label for="name">Nombre del Producto</label>
                    <input type="text" id="name" name="name" value="<%= product.name %>" required>
                </div>
                <div class="input-group">
                    <label for="description">Descripción</label>
                    <textarea id="description" name="description" required><%= product.description %></textarea>
                </div>
                <div class="input-group">
                    <label for="price">Precio</label>
                    <input type="number" id="price" name="price" value="<%= product.price %>" required>
                </div>
                <div class="input-group">
                    <label for="image">Imagen del Producto</label>
                    <input type="file" id="image" name="image" accept="image/*">
                    <p>Imagen actual:</p>
                    <img src="/images/products/<%= product.image %>" alt="<%= product.name %>" style="max-width: 100px; margin-top: 10px;">
                </div>
                <div class="input-group">
                    <label for="category">Categoría</label>
                    <select id="category" name="categoryId" required>
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>" <%= product.categoryId === category.id ? 'selected' : '' %>><%= category.name %></option>
                        <% }); %>
                    </select>
                    
                </div>
                
                <div class="input-group">
                    <label for="color">Color</label>
                    <input type="text" id="color" name="color" value="<%= product.color %>" required>
                </div>
                <button type="submit" class="btn">Guardar Cambios</button>
            </form>
            <a href="/" class="btn back-btn">Volver al Inicio</a>
        </div>
    </section>
    <%- include('../partials/footer'); %>
</body>
</html>
