<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    <%- include('../partials/header'); %>

    <section class="product-detail">
        <div class="container">
            <div class="product-content">
                <div class="product-image">
                    <img src="/uploads/<%= product.image %>" alt="<%= product.name %>">
                    <div class="product-thumbnails">
                        <img src="/uploads/<%= product.image %>" alt="Miniatura 1">
                        <img src="/uploads/<%= product.image %>" alt="Miniatura 2">
                        <img src="/uploads/<%= product.image %>" alt="Miniatura 3">
                    </div>
                </div>
                <div class="product-info">
                    <h1><%= product.name %></h1>
                    <h2>Precio: $<%= product.price %></h2>
                    <p><%= product.description %></p>
                    <div class="quantity-controls">
                        <button class="btn">-</button>
                        <span>1</span>
                        <button class="btn">+</button>
                    </div>
                    <button class="btn buy-btn">Comprar</button>
                    <button class="btn add-cart-btn">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer'); %>

</body>
</html>
