<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header'); %>

    <!-- HERO IMAGE -->
    <section class="hero">
        <video autoplay loop muted playsinline class="hero-video">
            <source src="/videos/13057063_3840_2160_24fps.mp4" type="video/mp4">
            Tu navegador no soporta videos en HTML5.
        </video>
    </section>

    <main class="products-container">
        <!-- PRODUCTOS DESTACADOS -->
        <% if (featuredProducts && featuredProducts.length > 0) { %>
        <section class="featured-products">
            <h2>Nuestros Productos Destacados</h2>
            <div class="product-grid">
                <% featuredProducts.forEach((product) => { %>
                    <div class="product-card">
                        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                        <h3><%= product.name %></h3>
                        <p class="price">$<%= product.price ? parseFloat(product.price).toFixed(2) : '0.00' %></p>
                        <a href="/products/<%= product.id %>" class="btn btn-detail">M치s informaci칩n</a>
                    </div>
                <% }); %>
            </div>
        </section>
        <% } %>

        <!-- PRODUCTOS CON DESCUENTO -->
        <% if (discountedProducts && discountedProducts.length > 0) { %>
        <section id= "discount" class="discount-products">
            <h2>Productos con Descuento</h2>
            <div class="product-grid">
                <% discountedProducts.forEach((product) => { %>
                    <div class="product-card">
                        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                        <h3><%= product.name %></h3>
                        <p>
                            <span class="old-price">$<%= product.originalPrice ? parseFloat(product.originalPrice).toFixed(2) : '0.00' %></span> 
                            <span class="price">$<%= product.price ? parseFloat(product.price).toFixed(2) : '0.00' %></span>
                        </p>
                        <a href="/products/<%= product.id %>" class="btn btn-detail">M치s informaci칩n</a>
                    </div>
                <% }); %>
            </div>
        </section>
        <% } %>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer'); %>
</body>
</html>
